body{
    background-image: url("../IMG/aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: fit-content;
}
.grid {
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    height: 900px;
}

.vid {
    position: relative;
}

video {
    width: 700px;
    height: 600px;
}
#alula{
    color: rgb(227, 88, 88);
      height: 400px;
     transform: scale(2);   
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    pointer-events: none;
}
.h{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 194, 160);
    border: 3px solid black;
}
#h1{
   box-shadow: 10px 9px 19px rgb(61, 59, 59); 
    display: inline-block; 
    padding: 0%;   
}
.background{
    background-color: burlywood;
    display: flex;
    justify-content: end;
    height: 500px;
    width: 1520px;
    
}

.h21{
    color: rgb(231, 195, 148);
    margin-right: 20px;
}
#redh2{
    margin-right: 20px;
}
hr{
    color: black;
    z-index: 100;
    width: 100%;
    background-color: black;
}
.container {
    position: relative;
}

.img_container:hover .cards {
    animation: slide;
    animation-play-state: running;
}

.cards {
    border: 2px solid black;
    height: 400px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgb(244, 228, 205);
    margin-top: 15px;
    margin-right: 15px;
    position: absolute;
}

@keyframes slide {
    from {
        margin-right: 10px;
    }
    to {
        margin-right: 350px;
    }
}

.img {
    height: 400px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 15px;
    margin-right: 15px;
}

.background {
    position: relative;
    overflow: hidden;
}
