body{
    background-image: url("../IMG/aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: fit-content;

    /* Video */
}
.grid {
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    height: 900px;
}

.vid {
    position: relative;
}

video {
    width: 700px;
    height: 600px;
}
#alula{
    color: rgb(227, 88, 88);
      height: 400px;
     transform: scale(2);   
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* About */
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    pointer-events: none;
}
.h{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(221, 194, 160);
    border: 3px solid black;
}
#h1{
   box-shadow: 10px 9px 19px rgb(61, 59, 59); 
    display: inline-block; 
    padding: 0%;   
}

/* Cards */

.cards_background{
    border: 2px solid black;
    background-color: burlywood ;
    display: flex;
    justify-content: end;
    align-items: end;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}










/* .background{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 1400px; */
    /* width: 1520px;
    
}

.h21{
    color: rgb(231, 195, 148);
    margin-right: 20px;
}
.redh2{
    margin-right: 20px;
}
hr{
    color: black;
    z-index: 100;
    width: 100%;
    background-color: black;
}

.cards {
    border: 2px solid black;
    height: 400px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgb(244, 228, 205);
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    bottom: 200px;
    transition: right 0.2s;
}

@keyframes slide {
    from {right: 10px;}
    to {right: 440px;}
}
.cards:hover{
    right: 390px; 
    cursor: pointer;
    animation: slide 2s; 
    animation-play-state: running;
    animation-delay: 0.5s;
    animation-fill-mode:ل forwards;
}
.img {
    height: 400px;
    width: 480px;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}
.cards2{
    border: 2px solid black;
    height: 400px;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: rgb(244, 228, 205);
    margin-top: 15px;
    margin-right: 15px;
    position: relative;
    bottom: 440px;
    transition: right 0.2s ease;
}
#img2{
    position: relative;
    bottom: 150px;
}
#img1{
    top: 180px;
    
}
.cards2:hover{
    right: 390px; 
    cursor: pointer;
    animation: slide 2s; 
    animation-play-state: running;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
} */