/* logo position */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* login style */
.card {
    color: goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
/* link style */
#a {

    color: rgb(0, 93, 200);
}
a {
    text-decoration: none; 
}
/* login content style */
.ul {
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    list-style: none;
    justify-content: center;
    align-content: center;
    gap: 5px;
    border: 2px  black;
    width:500px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
    /* input position */
    input {
        display: flex;
        flex-direction: column;
    }
/* submit position */
.si {
    margin-top: 20px;
    margin-right: 45px;
}
/* submit style */
#button {
    text-decoration: none;
    display: flex;
    align-items: center;
    
    border: 0.5px none rgb(0, 0, 0);
    color: rgb(218, 165, 32);
    background-color: bisque;
}
/* submit hover style */
#button:hover {
    background-color: rgb(255, 208, 90);
    scale: 1.05;
    transition: 0.5s;
}
#button2 {
    display: flex;
    justify-content: center;
    border: 0.5px solid rgb(0, 0, 0);
    color: rgb(218, 165, 32);
    background-color: bisque;
    width: 100px;
}
#button2:hover{
    background-color: rgb(255, 208, 90);
    scale: 1.05;
    transition: 0.5s;
}
/* link hover style */
#a:hover {
    scale: 1.1;
    transition: 0.5s;
    color: darkcyan;
}
/* background image */
body{
    background-image: url("/IMG/elephant-rock-alula.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    
}